connectionInfo_password={{ postgresql_opensaber_password }}
#connectionInfo_uri=jdbc:postgresql://10.0.1.183:5432/opensaber
connectionInfo_uri=jdbc:postgresql://{{ postgresql_host }}:{{ postgresql_port }}/{{ postgresql_opensaber_database }}
connectionInfo_username={{ postgresql_opensaber_username }}

