server.connection-timeout=5000
server.tomcat.max-threads=2048
server.tomcat.min-spare-threads=20
server.tomcat.max-connections=15000
server.tomcat.accept-count=500
server.port={{ application_port }}

#spring data jpa for postgres
spring.datasource.jdbc-url={{ spring_datasource_jdbc_url }}
spring.datasource.username={{ postgresql_username_wingspan }}
spring.datasource.password={{ postgresql_password_wingspan }}

spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect
spring.jpa.properties.hibernate.format_sql=true
spring.jpa.show-sql=false

#Workflow - Service details
wf.service.host={{ wf_service_host }}
wf.service.updateUserProfilePath=v1/workflow/updateUserProfileWF

#Configuration for Multi Department Mapping for User
user.enable.multidept.mapping=false

#learner.service.url=learner-service:9000
sb.service.url=http://learner-service:9000

spring.data.cassandra.sb.startupTimeoutInSeconds=100000
spring.data.cassandra.sb.contact-points={{ sunbird_cassandra_db_host }}
spring.data.cassandra.sb.port=9042
spring.data.cassandra.sb.keyspace-name={{ keyspace_sunbird }}
spring.data.cassandra.sb.username=
spring.data.cassandra.sb.password=

#sunbird.course.service.host=https://staging.open-sunbird.org/api/course/
sunbird.course.service.host={{ lms_service_host }}
progress.api.endpoint=v1/content/state/read


sb.api.key={{ bearer_token }}

#ES
es.host={{ elasticsearch_host }}
es.port={{ elasticsearch_http_port }}
es.username={{ elasticsearch_username }}
es.password={{ elasticsearch_password }}
es.profile.index=userprofile
es.profile.index.type=_doc
workallocation.index.name=workallocation
workallocation.index.type=_doc

#Kafka Server
spring.kafka.bootstrap.servers={{ kafka_servers_list }}

#kafka properties
kakfa.offset.reset.value=latest
kafka.max.poll.interval.ms=5000
kafka.max.poll.records=100

frac.host={{ frac_api_base }}/

domain.host.name=https://{{ domain_name }}/apis/public/v8/workallocation/getWaPdf/
