### Default variable file for lms-service ###

namespace: {{ namespace }}
imagepullsecrets: {{ imagepullsecrets }}
dockerhub: {{ docker_hub_url }}


env:
  javaoptions: {{lms_java_mem_limit|default('-Xmx600m')}}

replicaCount: {{lms_replicacount|default(1)}}
repository: {{ image_developer_console_service }}
image_tag: {{ image_tag }}
resources:
  requests:
    cpu: {{lms_cpu_req|default('100m')}}
    memory: {{lms_mem_req|default('100Mi')}}
  limits:
    cpu: {{lms_cpu_limit|default('1')}}
    memory: {{lms_mem_limit|default('1024Mi')}}
network:
  port: {{ service_developer_console_service_port }}
  targetport: {{ service_developer_console_service_port }}
strategy:
  type: RollingUpdate
  maxsurge: {{ lms_maxsurge|default('25%') }}
  maxunavailable: {{ lms_maxunavailable|default('25%') }}

ui_proxies_bulk_upload: {{ host_bulk_upload }}

envjs: |-
 global.env = {
   APP_DEV_CONSOLE_MYSQL_DB: "developer_console",
   APP_DEV_CONSOLE_MYSQL_HOST: "{{ mysql_host }}",
   APP_DEV_CONSOLE_MYSQL_PORT: "3306",
   APP_DEV_CONSOLE_MYSQL_USER: "{{ mysql_username }}",
   APP_DEV_CONSOLE_MYSQL_PWD: "{{ mysql_password }}",
   APP_DEV_CONSOLE_PORT: 8080,
   APP_DEV_CONSOLE_KEYCLOAK_URL: "{{ react_app_dev_console_keycloak_url }}",
 }


