POSTGRES_CONNECTION_STRING={{ postgres_connection_string }}
# MONGO_CONNECTION_STRING={{ mongo_connection_string }}
MONGO_USERNAME={{ mongodb_user }}
MONGO_PASSWORD={{ mongodb_password }}
MONGO_HOST={{ mongodb_host }}
MONGO_PORT={{ mongodb_port }}
MONGO_AUTHENTICATION_DB={{ mongodb_authentication_database }}
CASSANDRA_USERNAME={{ cassandra_username }}
CASSANDRA_PASSWORD={{ cassandra_password }}
CASSANDRA_KEYSPACE={{ keyspace_bodhi }}
ES_PROTOCOL={{ es_protocol }}
ES_PORT={{ elasticsearch_http_port }}
ES_HOST={{ elasticsearch_host }}
ES_USERNAME={{ elasticsearch_username }}
ES_PASSWORD={{ elasticsearch_password }}
CASSANDRA_CONTACT_POINT={{ cassandra_contact_point }}
FROM={{ var_content_service_support_mail_id }}
TO={{ var_content_service_support_mail_id }}
CC={{ var_monitoring_service_cc_list }}
SUBJECT={{ subject }}
SMTP_HOST={{ smtp_host }}
SMTP_PORT={{ smtp_port }}
# SLACK_URL=https://hooks.slack.com/services/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
DATABASES_TO_CHECK={{ databases_to_check }}