version: '3.7'

services:
  {{ docker_service_name }}:
    image: {{ docker_hub_url }}/{{ image_name }}:{{ tag }}
    
#    {% if publish_ports == true %}

    ports:
      - {{ host_port }}:{{ docker_port }}

#    {% endif %}

    ports:
      - {{ host_port }}:{{ docker_port }}

    deploy:
      placement:
        constraints:
          - node.role == {{ var_docker_deploy_node_type }} 
      replicas: {{ replicas }}
      resources:
        reservations:
          memory: {{ reserved_memory }}
        limits:
          memory: {{ limited_memory }}          
      update_config:
        parallelism: 1
        delay: 0s
        failure_action: rollback
        order: start-first
      restart_policy:
        condition: on-failure
    #healthcheck:
    #  test: ["CMD", "curl", "-f", "{{ health_check_endpoint }}"]
    #  interval: 10s
    #  timeout: 30s
    #  retries: 3
    #  start_period: 30s
    networks:
      application_default:
        aliases:
           - {{ network_alias_name }}
    env_file:
      - {{ env_file_deployment_location }}
    environment:
      - PORTAL_PORT={{ application_port }}
networks:
  application_default:
    external: true
