# Application properties
port={{ application_port }}
backups_location={{ docker_mount_location }}

# API users - This is seperated by username=password
learning_analytics={{ learning_analytics_password }}

cassandra_host={{ cassandra_host_port }}
cassandra_keyspace={{ keyspace_bodhi }}
cassandra_username={{ cassandra_username }}
cassandra_password={{ cassandra_password }}