NODE_ENV={{ node_env }}

cassandra_host={{ cassandra_host }}
cassandra_keyspace={{ keyspace_sunbird }}
enable_cassandra_password={{ enable_password_for_cassandra }}
cassandra_username={{ cassandra_username }}
cassandra_password={{ cassandra_password }}
cassandra_port={{ cassandra_port }}

es_host={{ elasticsearch_host }}
es_port={{ elasticsearch_http_port }}
enable_es_password={{ enable_password_for_elasticsearch }}
es_username={{ elasticsearch_username }}
es_password={{ elasticsearch_password }}

es_post_index={{ es_post_index }}
es_post_type={{ es_post_type }}
es_postTemplate={{ es_post_template }}

es_searchIndex_en={{ es_social_search_index_en }}
es_searchType={{ es_social_search_type }}
es_searchTemplate={{ es_social_search_template }}

es_thread_index={{ es_thread_index }}
es_thread_type={{ es_thread_type }}
es_threadTimelineTemplate={{ es_thread_timeline_template }}
es_threadTimelineTemplate_v1={{ es_thread_timeline_template_v1 }}

es_userpostactivityIndex={{ es_user_post_activity_index }}
es_userpostactivityType={{ es_user_post_activity_type }}
es_userpostactivityTemplate={{ es_user_post_activity_template }}

es_contentSearchIndex={{ es_content_search_index }}
es_contentSearchType={{ es_content_search_type }}

es_tagsIndex={{ es_tags_index }}
es_tagsType={{ es_tags_type }}
es_tagsTemplate={{ es_tags_template }}

es_hashtagsIndex={{ es_hash_tags_index }}
es_hashtagsType={{ es_hash_tags_type }}
es_hashtagsTemplate={{ es_hash_tags_template }}

sbext_ip={{ network_alias_sb_ext_service }}
sbext_port={{ service_sb_ext_port }}

flag_threshold={{ flag_threshold }}

kafka_server={{ kafka_servers_list }}
kafka_topic={{ social_kafka_topic }}
neoUrl={{ social_neo4j_url }}

usermeta_ip={{ network_alias_pid_service }}
usermeta_port={{ service_pid_service_port }}

pg_host={{ postgresql_host }}
pg_port={{ postgresql_port }}
pg_username={{ postgresql_username_wingspan }}
pg_password={{ postgresql_password_wingspan }}
enable_pg_password={{ postgres_enable_password }}
pg_db={{ postgresql_wingspan_database }}
