TELEMETRY_SERVICE_PORT={{ application_port }}

telemetry_log_level={{ telemetry_log_level }}
telemetry_local_storage_enabled={{ telemetry_local_storage_enabled }}
telemetry_proxy_enabled={{ telemetry_proxy_enabled }}
telemetry_local_storage_type={{ telemetry_local_storage_type }}
telemetry_kafka_broker_list={{ telemetry_kafka_broker_list }}
telemetry_kafka_topic={{ var_telemetry_kafka_topic }}
telemetry_service_port={{ application_port }}