Infosys.smtpKey={{ infosys_smtp_key }}
Siemens.smtpKey={{ siemens_smtp_key }}
igot.smtpKey={{ igot_smtp_key }}

pid.service.url={{ pid_service_url }}


spring.datasource.url={{ spring_datasource_jdbc_url }}
spring.datasource.username={{ postgresql_username_wingspan }}
spring.datasource.password={{ postgresql_password_wingspan }}


kafka.bootstrapAddress={{ kafka_servers_list }}
spring.data.cassandra.bodhi.contact-points={{ cassandra_host }}
spring.data.cassandra.bodhi.port={{ cassandra_port }}
spring.data.cassandra.bodhi.keyspace-name={{ keyspace_bodhi }}
spring.data.cassandra.bodhi.username={{ cassandra_username }}
spring.data.cassandra.bodhi.password={{ cassandra_password }}
spring.data.cassandra.sunbird.contact-points={{ cassandra_host }}
spring.data.cassandra.sunbird.port={{ cassandra_port }}
spring.data.cassandra.sunbird.keyspace-name={{ keyspace_sunbird }}
spring.data.cassandra.sunbird.username={{ cassandra_username }}
spring.data.cassandra.sunbird.password={{ cassandra_password }}


spring.data.cassandra.username={{ cassandra_username }}
spring.data.cassandra.password={{ cassandra_password }}

# Siemens Specific
siemens.smtp.key={{ siemens_smtp_key_path }}
siemens.smtp.certificate={{ siemens_smtp_cert_path }}
