version: '3.7'

services:
  {{ docker_service_name }}:
    image: "{{ docker_hub_url }}/{{ image_name }}:{{ tag }}"
    hostname: "{{ docker_service_name }}"
    
    {% if publish_ports == true %}

    ports:
      - {{ host_port }}:{{ docker_port }}

    {% endif %}

    deploy:
      placement:
        constraints:
          - node.role == {{ var_docker_deploy_node_type }} 
      replicas: {{ replicas }}
      resources:
        reservations:
          memory: "{{ reserved_memory }}"
        limits:
          memory: "{{ limited_memory }}"
      update_config:
        parallelism: 1
        delay: 0s
        failure_action: rollback
        order: start-first
      restart_policy:
        condition: on-failure
    networks:
      application_default:
        aliases:
          - {{ network_alias_name }}
    env_file:
      - {{ env_file_deployment_location }}
    
    {% if deploy_host_name == "app_ireland_wn_mt_live" or deploy_host_name == "app_ireland_siemens_stage" %}

    secrets:
      - {{ secret_siemens_smtp_key_name }}
      - {{ secret_siemens_smtp_cert_name }}

    {% endif %}

networks:
  application_default:
    external: true

{% if deploy_host_name == "app_ireland_wn_mt_live" or deploy_host_name == "app_ireland_siemens_stage" %}

secrets:
  {{ secret_siemens_smtp_key_name }}:
    external: true
  {{ secret_siemens_smtp_cert_name }}:
    external: true

{% endif %}