infosys.enable-access-control={{ var_access_control_service_enable_access_control }}
infosys.es.auth.enabled={{ enable_password_for_elasticsearch }}
infosys.es.host={{ elasticsearch_host }}
infosys.es.port={{ elasticsearch_http_port }}
infosys.es.username={{ elasticsearch_username }}
infosys.es.password={{ elasticsearch_password }}
infosys.root-org={{ var_common_root_org }}
spring.data.cassandra.contact-points={{ cassandra_host }}
spring.data.cassandra.port={{ cassandra_port }}
spring.data.cassandra.keyspace-name={{ keyspace_bodhi }}
spring.data.cassandra.username={{ cassandra_username }}
spring.data.cassandra.password={{ cassandra_password }}