PORT_SIEMENS_MLT={{ application_port }}
ES_SIEMENS={{ elasticsearch_host }}:{{ elasticsearch_http_port }}

ES_HOST={{ elasticsearch_host }}
ES_PORT={{ elasticsearch_http_port }}
ES_USERNAME={{ elasticsearch_username }}
ES_PASSWORD={{ elasticsearch_password }}